@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:200,300,400,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons&display=swap);

/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

@-webkit-keyframes fa-spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

.fa-code:before {
    content: "\F121"
}

.fa-desktop:before {
    content: "\F108"
}

.fa-facebook:before {
    content: "\F09A"
}

.fa-google:before {
    content: "\F1A0"
}

.fa-linkedin:before {
    content: "\F08C"
}

.fa-mobile:before {
    content: "\F10B"
}

.fa-text-width:before {
    content: "\F035"
}

.fa-twitter:before {
    content: "\F099"
}

.fa-universal-access:before {
    content: "\F29A"
}

/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fa {
    font-family: Font Awesome\ 5 Free
}

.fa {
    font-weight: 900
}

/*!
 * Bootstrap v4.6.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*, :after, :before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

article, footer, header, main, nav, section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0
}

p {
    margin-bottom: 1rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ul ul {
    margin-bottom: 0
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

img {
    border-style: none
}

img, svg {
    vertical-align: middle
}

svg {
    overflow: hidden
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

[role=button] {
    cursor: pointer
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

summary {
    display: list-item;
    cursor: pointer
}

[hidden] {
    display: none !important
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1, h1 {
    font-size: 2.5rem
}

.h2, h2 {
    font-size: 2rem
}

.h3, h3 {
    font-size: 1.75rem
}

.h4, h4 {
    font-size: 1.5rem
}

.h5, h5 {
    font-size: 1.25rem
}

.h6, h6 {
    font-size: 1rem
}

.img-fluid, .smp_footer_front .footer-logo {
    max-width: 100%;
    height: auto
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word
}

a>code {
    color: inherit
}

#main .slider-component, .container, .container-fluid, .faq-page, .header .header-home, .header .smp-numbers-bloc, .slider .slide, .smp-box.smp-box-text-image:not(.bloc-cards), .smp-numbers-bloc, .smp_footer_front, .smp_footer_front .footer-logo-text, .widget-text, body #app main, html #app main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    #main .slider-component, .container, .faq-page, .header .smp-numbers-bloc, .smp-box.smp-box-text-image:not(.bloc-cards), .smp-numbers-bloc, .widget-text {
        max-width: 540px
    }
}

@media (min-width:768px) {
    #main .slider-component, .container, .faq-page, .header .smp-numbers-bloc, .smp-box.smp-box-text-image:not(.bloc-cards), .smp-numbers-bloc, .widget-text {
        max-width: 720px
    }
}

@media (min-width:992px) {
    #main .slider-component, .container, .faq-page, .header .smp-numbers-bloc, .smp-box.smp-box-text-image:not(.bloc-cards), .smp-numbers-bloc, .widget-text {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    #main .slider-component, .container, .faq-page, .header .smp-numbers-bloc, .smp-box.smp-box-text-image:not(.bloc-cards), .smp-numbers-bloc, .widget-text {
        max-width: 1140px
    }
}

.smp-box.smp-box-text-image:not(.bloc-cards), .smp-box:not(.bloc-cards), .smp-numbers-bloc {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

#main .smp_footer_front .slider-component>div, .link-formations-page, .smp-box:not(.bloc-cards).smp-box-text-image .shortcode, .smp-box:not(.bloc-cards).smp-box-text-image .smp-card, .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .img-fluid, .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .shortcode, .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .smp-card, .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .smp_footer_front .footer-logo, .smp-box:not(.bloc-cards).two-column .card-body, .smp-numbers-bloc .number-bloc, .smp_footer_front #main .slider-component>div, .smp_footer_front .container>div, .smp_footer_front .faq-page>div, .smp_footer_front .header .smp-numbers-bloc>div, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards)>div, .smp_footer_front .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .footer-logo, .smp_footer_front .smp-numbers-bloc>div, .smp_footer_front .widget-text>div, .smp_header_front .navbar-top-left, .smp_header_front .navbar-top-right {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.smp_header_front .navbar-top-left, .smp_header_front .navbar-top-right {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

@media (min-width:576px) {
    .link-formations-page, .smp-numbers-bloc .number-bloc {
        flex: 0 0 50%;
        max-width: 50%
    }

    .smp-box:not(.bloc-cards).smp-box-text-image .shortcode, .smp-box:not(.bloc-cards).smp-box-text-image .smp-card {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:768px) {
    .link-formations-page, .smp-numbers-bloc .number-bloc {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%
    }

    .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .smp-card {
        flex: 0 0 41.66666667%;
        max-width: 41.66666667%
    }

    .smp-box:not(.bloc-cards).smp-box-text-image .shortcode, .smp-box:not(.bloc-cards).smp-box-text-image .smp-card {
        flex: 0 0 50%;
        max-width: 50%
    }

    .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .img-fluid, .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .shortcode, .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .smp_footer_front .footer-logo, .smp_footer_front .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .footer-logo {
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%
    }

    #main .smp_footer_front .slider-component>div, .smp-box:not(.bloc-cards).two-column .card-body, .smp_footer_front #main .slider-component>div, .smp_footer_front .container>div, .smp_footer_front .faq-page>div, .smp_footer_front .header .smp-numbers-bloc>div, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards)>div, .smp_footer_front .smp-numbers-bloc>div, .smp_footer_front .widget-text>div {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:992px) {
    .link-formations-page {
        flex: 0 0 25%;
        max-width: 25%
    }

    .smp-numbers-bloc .number-bloc {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%
    }

    #main .smp_footer_front .slider-component>div, .smp-box:not(.bloc-cards).two-column .card-body, .smp_footer_front #main .slider-component>div, .smp_footer_front .container>div, .smp_footer_front .faq-page>div, .smp_footer_front .header .smp-numbers-bloc>div, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards)>div, .smp_footer_front .smp-numbers-bloc>div, .smp_footer_front .widget-text>div {
        flex: 0 0 50%;
        max-width: 50%
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-light.focus, .btn-light:focus, .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5
}

.btn-light.focus, .btn-light:focus {
    box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none
}

.btn-link:hover {
    color: #0056b3
}

.btn-link.focus, .btn-link:focus, .btn-link:hover {
    text-decoration: underline
}

.btn-link:disabled {
    color: #6c757d;
    pointer-events: none
}

.collapse:not(.show) {
    display: none
}

.dropdown {
    position: relative
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-toggle:empty:after {
    margin-left: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.dropdown-menu-right {
    right: 0;
    left: auto
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #e9ecef
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff
}

.dropdown-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent
}

.dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none
}

.navbar {
    position: relative;
    padding: .5rem 1rem
}

#main .navbar .slider-component, .header .navbar .header-home, .navbar, .navbar #main .slider-component, .navbar .container, .navbar .container-fluid, .navbar .faq-page, .navbar .header .header-home, .navbar .slider .slide, .navbar .smp-box.smp-box-text-image:not(.bloc-cards), .navbar .smp-numbers-bloc, .navbar .smp_footer_front, .navbar .smp_footer_front .footer-logo-text, .navbar .widget-text, .navbar body #app main, .navbar html #app main, .slider .navbar .slide, .smp_footer_front .navbar .footer-logo-text, body #app .navbar main, html #app .navbar main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

@media (max-width:991.98px) {
    #main .navbar-expand-lg>.slider-component, .header .navbar-expand-lg>.header-home, .header .navbar-expand-lg>.smp-numbers-bloc, .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.faq-page, .navbar-expand-lg>.smp-box.smp-box-text-image:not(.bloc-cards), .navbar-expand-lg>.smp-numbers-bloc, .navbar-expand-lg>.smp_footer_front, .navbar-expand-lg>.widget-text, .slider .navbar-expand-lg>.slide, .smp_footer_front .navbar-expand-lg>.footer-logo-text, body #app .navbar-expand-lg>main, html #app .navbar-expand-lg>main {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
    }

    #main .navbar-expand-lg>.slider-component, .header .navbar-expand-lg>.header-home, .header .navbar-expand-lg>.smp-numbers-bloc, .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.faq-page, .navbar-expand-lg>.smp-box.smp-box-text-image:not(.bloc-cards), .navbar-expand-lg>.smp-numbers-bloc, .navbar-expand-lg>.smp_footer_front, .navbar-expand-lg>.widget-text, .slider .navbar-expand-lg>.slide, .smp_footer_front .navbar-expand-lg>.footer-logo-text, body #app .navbar-expand-lg>main, html #app .navbar-expand-lg>main {
        flex-wrap: nowrap
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem
}

.card-subtitle, .card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-img-top {
    flex-shrink: 0;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

.carousel, .carousel-item {
    position: relative
}

.carousel-item {
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .carousel-item {
        transition: none
    }
}

@-webkit-keyframes spinner-border {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spinner-border {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes spinner-grow {
    0% {
        transform: scale(0)
    }

    50% {
        opacity: 1;
        transform: none
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0)
    }

    50% {
        opacity: 1;
        transform: none
    }
}

.align-middle {
    vertical-align: middle !important
}

.bg-white {
    background-color: #fff !important
}

.d-none {
    display: none !important
}

body #app main, body #app main .content, html #app main, html #app main .content {
    display: flex !important
}

body #app main, body #app main .content, html #app main, html #app main .content {
    flex-direction: column !important
}

body #app main, html #app main {
    flex-grow: 1 !important
}

body #app main .content, html #app main .content {
    justify-content: center !important
}

.smp_header_front .navbar-top-right {
    align-items: baseline !important
}

body #app main .content, html #app main .content {
    align-self: center !important
}

.w-100 {
    width: 100% !important
}

.m-0 {
    margin: 0 !important
}

.p-0, body #app main, html #app main {
    padding: 0 !important
}

.text-right {
    text-align: right !important
}

.visible {
    visibility: visible !important
}

@media print {
    *, :after, :before {
        text-shadow: none !important;
        box-shadow: none !important
    }

    a:not(.btn) {
        text-decoration: underline
    }

    img {
        page-break-inside: avoid
    }

    h2, h3, p {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }

    @page {
        size: a3
    }

    #main .slider-component, .container, .faq-page, .header .smp-numbers-bloc, .smp-box.smp-box-text-image:not(.bloc-cards), .smp-numbers-bloc, .widget-text, body {
        min-width: 992px !important
    }

    .navbar {
        display: none
    }
}

@-webkit-keyframes highlight-share-intro {
    0% {
        transform: translateY(-3em);
        opacity: 0
    }

    80% {
        transform: translateY(.5em);
        opacity: 1
    }

    to {
        transform: translateY(0)
    }
}

@keyframes highlight-share-intro {
    0% {
        transform: translateY(-3em);
        opacity: 0
    }

    80% {
        transform: translateY(.5em);
        opacity: 1
    }

    to {
        transform: translateY(0)
    }
}

@font-face {
    font-family: slick;
    src: url(fonts/slick.eot);
    src: url(fonts/slick.eot?#iefix) format("embedded-opentype"), url(fonts/slick.woff) format("woff"), url(fonts/slick.ttf) format("truetype"), url(fonts/slick.svg#slick) format("svg");
    font-weight: 400;
    font-style: normal
}

.smp-box.smp-box-text-image:not(.bloc-cards) .shortcode {
    min-height: 100%;
    position: relative
}

.smp-box.smp-box-text-image:not(.bloc-cards) .shortcode .img-fluid, .smp-box.smp-box-text-image:not(.bloc-cards) .shortcode .smp_footer_front .footer-logo, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .shortcode .footer-logo {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: auto;
    max-height: 100%
}

.smp-card .img-fluid, .smp-card .smp_footer_front .footer-logo, .smp_footer_front .smp-card .footer-logo {
    background-image: radial-gradient(circle 279px at 163.48% 481.96%, rgba(240, 241, 255, .8) 0, #05002e 100%);
    background-size: cover
}

.card-text h1, .contact div[class^=c] h1, .smp-box:not(.bloc-cards).smp-box-icon .card-text h1, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h1, .smp-box:not(.bloc-cards).two-column .card-text h1, .widget-text h1 {
    font-family: Nunito Sans, sans-serif;
    color: #000;
    font-weight: 900;
    font-size: 52px;
    letter-spacing: 0;
    line-height: 71px
}

.card-text h2, .contact div[class^=c] h2, .smp-box:not(.bloc-cards).smp-box-icon .card-text h2, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h2, .smp-box:not(.bloc-cards).two-column .card-text h2, .widget-text h2 {
    font-family: Nunito Sans, sans-serif;
    color: #ce0033;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 38px
}

.card-text h3, .contact div[class^=c] h3, .smp-box:not(.bloc-cards).smp-box-icon .card-text h3, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h3, .smp-box:not(.bloc-cards).two-column .card-text h3, .widget-text h3 {
    font-family: Nunito Sans, sans-serif;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px
}

.smp_header_front {
    /*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
    position: relative;
    z-index: 5000;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3
}

.smp_header_front .hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible
}

.smp_header_front .hamburger:hover {
    opacity: .7
}

.smp_header_front .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative
}

.smp_header_front .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px
}

.smp_header_front .hamburger-inner, .smp_header_front .hamburger-inner:after, .smp_header_front .hamburger-inner:before {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease
}

.smp_header_front .hamburger-inner:after, .smp_header_front .hamburger-inner:before {
    content: "";
    display: block
}

.smp_header_front .hamburger-inner:before {
    top: -10px
}

.smp_header_front .hamburger-inner:after {
    bottom: -10px
}

.smp_header_front .hamburger--spin .hamburger-inner {
    transition-duration: .22s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.smp_header_front .hamburger--spin .hamburger-inner:before {
    transition: top .1s ease-in .25s, opacity .1s ease-in
}

.smp_header_front .hamburger--spin .hamburger-inner:after {
    transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19)
}

.smp_footer_front .smp_header_front .smp-logo-mobile .footer-logo, .smp_header_front .smp-logo-mobile .img-fluid, .smp_header_front .smp-logo-mobile .smp_footer_front .footer-logo {
    width: 150px;
    transition: opacity .5s ease
}

.smp_footer_front .smp_header_front .smp-logo-mobile .hidden.footer-logo, .smp_header_front .smp-logo-mobile .img-fluid.hidden, .smp_header_front .smp-logo-mobile .smp_footer_front .hidden.footer-logo {
    opacity: 0
}

.smp_header_front a {
    font-weight: 700
}

.smp_header_front a:focus, .smp_header_front a:hover {
    text-decoration: none
}

.smp_header_front .navbar {
    padding: 0;
    flex-direction: column
}

@media (max-width:991.98px) {
    .smp_header_front .navbar {
        flex-wrap: nowrap
    }
}

.smp_header_front .menu_a11y {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

@media (max-width:991.98px) {
    .smp_header_front .menu_a11y {
        flex-direction: column
    }
}

@media (min-width:992px) {
    .smp_header_front .collapse:not(.show) {
        display: block
    }
}

.smp_header_front .navbar-top-mobile {
    display: none
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-top-mobile {
        display: flex;
        position: fixed;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
        z-index: 5000;
        background-color: #fff;
        top: 0;
        left: 0;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
        width: 100vw;
        max-width: 100%
    }

    .smp_header_front .navbar-top-mobile .hamburger:focus {
        outline: 0
    }
}

.smp_header_front .navbar-content {
    width: 100%;
    max-width: 100vw
}

.smp_header_front .navbar-content .a11y-btn {
    position: absolute;
    left: 10px;
    top: 43%;
    background-color: transparent;
    border: none
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-content .a11y-btn {
        display: none
    }
}

.smp_header_front .navbar-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 12px
}

@media (min-width:992px) {
    .smp_header_front .navbar-top {
        padding-bottom: 8px
    }
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-top {
        display: block;
        margin: 0;
        order: 2;
        flex-direction: column;
        font-size: 18px
    }
}

.smp_header_front .navbar-top a:not(.lang-link) {
    color: #57575c;
    transition: color .5s ease;
    text-decoration: none !important
}

.smp_header_front .navbar-top a:not(.lang-link):focus, .smp_header_front .navbar-top a:not(.lang-link):hover {
    color: #ce0033
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-top a:not(.lang-link) {
        display: block;
        color: #000
    }
}

.smp_header_front .navbar-top a:not(.lang-link):active, .smp_header_front .navbar-top a:not(.lang-link):focus, .smp_header_front .navbar-top a:not(.lang-link):hover {
    text-decoration: none !important
}

.smp_header_front .navbar-top:after {
    content: " ";
    height: 1px;
    width: 100%;
    background-color: #f1f5f8
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-top:after {
        display: none
    }
}

.smp_header_front .navbar-top .nav-link {
    padding: 20px 20px 0 0
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-top .nav-link {
        color: #000;
        padding: 10px 20px
    }

    .smp_header_front .navbar-top .nav-link:focus, .smp_header_front .navbar-top .nav-link:hover {
        text-decoration: none;
        cursor: pointer
    }
}

#main .smp_header_front .navbar-top .slider-component, .smp_header_front .navbar-top #main .slider-component, .smp_header_front .navbar-top .container, .smp_header_front .navbar-top .faq-page, .smp_header_front .navbar-top .smp-box.smp-box-text-image:not(.bloc-cards), .smp_header_front .navbar-top .smp-numbers-bloc, .smp_header_front .navbar-top .widget-text {
    display: inline-flex;
    max-width: none;
    width: auto;
    padding: 0;
    margin: 0
}

@media (max-width:991.98px) {
    #main .smp_header_front .navbar-top .slider-component, .smp_header_front .navbar-top #main .slider-component, .smp_header_front .navbar-top .container, .smp_header_front .navbar-top .faq-page, .smp_header_front .navbar-top .smp-box.smp-box-text-image:not(.bloc-cards), .smp_header_front .navbar-top .smp-numbers-bloc, .smp_header_front .navbar-top .widget-text {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 20px 0 20px 20px
    }
}

#main .smp_header_front .navbar-top .slider-component .btn, .smp_header_front .navbar-top #main .slider-component .btn, .smp_header_front .navbar-top .container .btn, .smp_header_front .navbar-top .faq-page .btn, .smp_header_front .navbar-top .smp-box.smp-box-text-image:not(.bloc-cards) .btn, .smp_header_front .navbar-top .smp-numbers-bloc .btn, .smp_header_front .navbar-top .widget-text .btn {
    background-color: transparent;
    visibility: hidden;
    position: relative;
    width: 19px;
    min-width: auto;
    font-size: 1px;
    letter-spacing: -1px;
    color: transparent;
    border: none;
    margin: 0 0 0 20px;
    padding: 0
}

@media (max-width:991.98px) {
    #main .smp_header_front .navbar-top .slider-component .btn, .smp_header_front .navbar-top #main .slider-component .btn, .smp_header_front .navbar-top .container .btn, .smp_header_front .navbar-top .faq-page .btn, .smp_header_front .navbar-top .smp-box.smp-box-text-image:not(.bloc-cards) .btn, .smp_header_front .navbar-top .smp-numbers-bloc .btn, .smp_header_front .navbar-top .widget-text .btn {
        visibility: visible;
        font-size: 0;
        width: auto;
        margin: 0 24px 0 0
    }

    #main .smp_header_front .navbar-top .slider-component .btn:last-child, .smp_header_front .navbar-top #main .slider-component .btn:last-child, .smp_header_front .navbar-top .container .btn:last-child, .smp_header_front .navbar-top .faq-page .btn:last-child, .smp_header_front .navbar-top .smp-box.smp-box-text-image:not(.bloc-cards) .btn:last-child, .smp_header_front .navbar-top .smp-numbers-bloc .btn:last-child, .smp_header_front .navbar-top .widget-text .btn:last-child {
        margin: 0
    }
}

#main .smp_header_front .navbar-top .slider-component .btn:hover, .smp_header_front .navbar-top #main .slider-component .btn:hover, .smp_header_front .navbar-top .container .btn:hover, .smp_header_front .navbar-top .faq-page .btn:hover, .smp_header_front .navbar-top .smp-box.smp-box-text-image:not(.bloc-cards) .btn:hover, .smp_header_front .navbar-top .smp-numbers-bloc .btn:hover, .smp_header_front .navbar-top .widget-text .btn:hover {
    cursor: pointer
}

.smp_header_front .navbar-top-left {
    padding-left: 42px;
    font-size: 12px;
    color: #818a92;
    text-transform: uppercase
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-top-left {
        padding: 0
    }
}

.smp_header_front .navbar-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 42px
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-top-right {
        flex-direction: column;
        padding: 0
    }
}

.smp_header_front .navbar-top-right .btn {
    min-width: auto
}

.smp_header_front .navbar-top-right .btn:before {
    display: none
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-top-right .navigation_a11y {
        display: block;
        width: 100%
    }
}

.smp_header_front .lang-link {
    padding: 0;
    transition: color .5s ease;
    color: #57575c;
    position: relative
}

@media (max-width:991.98px) {
    .smp_header_front .lang-link {
        padding: 0;
        margin: 0;
        width: 100%
    }

    .smp_header_front .lang-link:focus, .smp_header_front .lang-link:hover {
        color: #ce0033
    }
}

.smp_header_front .lang-link:focus, .smp_header_front .lang-link:hover {
    color: #ce0033
}

.smp_header_front .en {
    padding: 0;
    margin: 0
}

.smp_header_front .navbar-logo {
    width: 200px
}

.smp_footer_front .smp_header_front .navbar-logo .footer-logo, .smp_header_front .navbar-logo .img-fluid, .smp_header_front .navbar-logo .smp_footer_front .footer-logo {
    max-width: 220px
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-logo {
        display: none
    }
}

@media (max-width:991.98px) {
    .smp_header_front .menu-drop-down-items {
        width: 100%
    }
}

.smp_header_front .navbar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 10px;
    width: 100%
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom {
        display: block;
        order: 1;
        flex-direction: column;
        padding: 0;
        width: 100%
    }
}

.smp_header_front .navbar-bottom .menu_a11y {
    flex-wrap: wrap;
    align-items: flex-end
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .menu_a11y {
        width: 100%;
        align-items: flex-start
    }
}

.smp_header_front .navbar-bottom .nav-item {
    padding-top: 0;
    padding-bottom: 0;
    margin: 10px 0 0;
    font-size: 14px;
    font-family: Nunito Sans, sans-serif
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .nav-item {
        border: none;
        color: #ce0033;
        padding: 0 20px 40px
    }

    .smp_header_front .navbar-bottom .nav-item:last-child {
        padding: 0 20px 34px
    }

    .smp_header_front .navbar-bottom .nav-item:last-child .dropdown-item {
        margin: 0
    }
}

.smp_header_front .navbar-bottom .nav-item a {
    font-weight: 900
}

.smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item) {
    transition: color .5s ease;
    text-transform: uppercase;
    font-weight: 900
}

.smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item):active, .smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item):focus, .smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item):hover {
    text-decoration: none;
    color: #ce0033
}

@media (min-width:992px) {
    .smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item) {
        color: #000
    }
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item) {
        color: #ce0033
    }
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .nav-item:first-child {
        border: none
    }
}

.smp_header_front .navbar-bottom .nav-item:last-child {
    display: flex;
    align-items: flex-end
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .nav-item:last-child {
        border: none
    }
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .single-link {
        color: #ce0033;
        font-size: 18px;
        font-weight: 700
    }

    .smp_header_front .navbar-bottom .single-link:focus, .smp_header_front .navbar-bottom .single-link:hover {
        color: #000
    }
}

.smp_header_front .navbar-bottom .dropdown-toggle {
    display: block;
    color: #000;
    transition: color .5s ease;
    width: 100%
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .dropdown-toggle {
        color: #ce0033;
        font-size: 18px;
        font-weight: 700
    }

    .smp_header_front .navbar-bottom .dropdown-toggle:focus, .smp_header_front .navbar-bottom .dropdown-toggle:hover {
        color: #000
    }
}

.smp_header_front .navbar-bottom .dropdown-toggle:after {
    font-family: Material Icons;
    content: "keyboard_arrow_down";
    text-transform: none;
    line-height: 1;
    font-size: 25px;
    vertical-align: -6px;
    border: none;
    transition: transform .5s ease
}

.smp_header_front .navbar-bottom .dropdown-item {
    max-width: 100%;
    padding-top: 15px;
    background-color: #fff;
    transition: text-shadow .5s ease
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .dropdown-item {
        font-size: 14px;
        color: #000;
        padding: 15px 0
    }
}

@media (min-width:992px) {
    .smp_header_front .navbar-bottom .dropdown-item:after {
        content: " ";
        display: block;
        height: 14px
    }
}

.smp_header_front .navbar-bottom .dropdown-item:last-child {
    padding-bottom: 15px
}

.smp_header_front .navbar-bottom .dropdown-item:last-child:after {
    display: none
}

.smp_header_front .navbar-bottom .dropdown-item:focus, .smp_header_front .navbar-bottom .dropdown-item:hover {
    text-shadow: 0 0 1px #000;
    color: #000;
    background-color: #fff;
    cursor: pointer
}

.smp_header_front .navbar-bottom .dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    border: none
}

@media (min-width:992px) {
    .smp_header_front .navbar-bottom .dropdown-menu {
        display: block;
        min-width: 240px;
        padding: 0;
        top: calc(100% + 20px);
        margin: 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
        transition: transform .5s ease, opacity .5s ease, visibility .5s ease
    }
}

@media (max-width:991.98px) {
    .smp_header_front .navbar-bottom .dropdown-menu {
        position: static;
        padding: 0;
        margin: 10px 0 0;
        border: none;
        width: 100%
    }
}

.smp_footer_front {
    padding: 0;
    color: #fff;
    font-size: 20px
}

.smp_footer_front nav:after {
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #57575c
}

@media (max-width:991.98px) {
    .smp_footer_front nav:after {
        display: none
    }
}

.smp_footer_front .nav-link {
    padding: 0
}

.smp_footer_front .nav-link:last-child a {
    border-right: 0;
    margin: 0
}

@media (max-width:991.98px) {
    .smp_footer_front .nav-link:last-child a {
        border: none
    }
}

.smp_footer_front .menu_a11y {
    display: flex;
    justify-content: center;
    padding: 14px 43px;
    flex-wrap: wrap
}

@media (max-width:991.98px) {
    .smp_footer_front .menu_a11y {
        padding: 0;
        justify-content: flex-start;
        flex-direction: column
    }
}

.smp_footer_front .menu_a11y a {
    position: relative;
    color: #fff;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    font-weight: 300;
    border-right: 3px solid #fff;
    transition: color .5s ease;
    font-size: 16px
}

@media (max-width:991.98px) {
    .smp_footer_front .menu_a11y a {
        display: block;
        padding: 15px 0 15px 32px;
        margin: 0;
        border-right: none
    }
}

@media (max-width:991.98px) {
    .smp_footer_front .menu_a11y a:before {
        display: block;
        position: absolute;
        left: 0;
        top: 12px;
        content: "keyboard_arrow_right";
        font-family: Material Icons;
        line-height: 1;
        color: #ce0033;
        font-size: 30px;
        transition: transform .5s ease
    }
}

.smp_footer_front .menu_a11y a:focus, .smp_footer_front .menu_a11y a:hover {
    color: #fff;
    text-decoration: underline
}

.smp_footer_front .menu_a11y a:focus:before, .smp_footer_front .menu_a11y a:hover:before {
    transform: translateX(5px)
}

.smp_footer_front .footer-logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #ce0033;
    padding: 0;
    margin-top: 30px
}

.smp_footer_front .footer-logo-text nav {
    width: 100%
}

.smp_footer_front .footer-logo {
    max-width: 300px;
    margin: 50px auto
}

.smp_footer_front .footer-text {
    padding: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #a4082f
}

@media (max-width:991.98px) {
    .smp_footer_front .footer-text {
        text-align: center
    }
}

#main .smp_footer_front .slider-component, .smp_footer_front #main .slider-component, .smp_footer_front .container, .smp_footer_front .faq-page, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards), .smp_footer_front .smp-numbers-bloc, .smp_footer_front .widget-text {
    display: flex;
    justify-content: space-around
}

#main .smp_footer_front .slider-component>div, .smp_footer_front #main .slider-component>div, .smp_footer_front .container>div, .smp_footer_front .faq-page>div, .smp_footer_front .header .smp-numbers-bloc>div, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards)>div, .smp_footer_front .smp-numbers-bloc>div, .smp_footer_front .widget-text>div {
    text-align: center
}

#main .smp_footer_front .slider-component .smp-faq-link-footer, .smp_footer_front #main .slider-component .smp-faq-link-footer, .smp_footer_front .container .smp-faq-link-footer, .smp_footer_front .faq-page .smp-faq-link-footer, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .smp-faq-link-footer, .smp_footer_front .smp-numbers-bloc .smp-faq-link-footer, .smp_footer_front .widget-text .smp-faq-link-footer {
    background: #f1f5f8;
    padding: 59px 152px 59px 44px;
    text-align: left;
    margin-right: 15px
}

@media (max-width:991.98px) {
    #main .smp_footer_front .slider-component .smp-faq-link-footer, .smp_footer_front #main .slider-component .smp-faq-link-footer, .smp_footer_front .container .smp-faq-link-footer, .smp_footer_front .faq-page .smp-faq-link-footer, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .smp-faq-link-footer, .smp_footer_front .smp-numbers-bloc .smp-faq-link-footer, .smp_footer_front .widget-text .smp-faq-link-footer {
        margin-right: 0;
        padding: 20px !important;
        text-align: center
    }
}

@media (max-width:991.98px) {
    #main .smp_footer_front .slider-component .smp-newsletter-faq-footer, .smp_footer_front #main .slider-component .smp-newsletter-faq-footer, .smp_footer_front .container .smp-newsletter-faq-footer, .smp_footer_front .faq-page .smp-newsletter-faq-footer, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .smp-newsletter-faq-footer, .smp_footer_front .smp-numbers-bloc .smp-newsletter-faq-footer, .smp_footer_front .widget-text .smp-newsletter-faq-footer {
        margin-left: 11rem !important
    }
}

#main .smp_footer_front .slider-component .smp-newsletter-footer, .smp_footer_front #main .slider-component .smp-newsletter-footer, .smp_footer_front .container .smp-newsletter-footer, .smp_footer_front .faq-page .smp-newsletter-footer, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .smp-newsletter-footer, .smp_footer_front .smp-numbers-bloc .smp-newsletter-footer, .smp_footer_front .widget-text .smp-newsletter-footer {
    background: #ce0033;
    color: #fff;
    text-align: left;
    padding: 59px 34px;
    margin-left: 15px
}

@media (max-width:991.98px) {
    #main .smp_footer_front .slider-component .smp-newsletter-footer, .smp_footer_front #main .slider-component .smp-newsletter-footer, .smp_footer_front .container .smp-newsletter-footer, .smp_footer_front .faq-page .smp-newsletter-footer, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .smp-newsletter-footer, .smp_footer_front .smp-numbers-bloc .smp-newsletter-footer, .smp_footer_front .widget-text .smp-newsletter-footer {
        margin-left: 0;
        margin-bottom: 30px;
        flex-direction: row
    }
}

#main .smp_footer_front .slider-component .smp-newsletter-footer .smp-newsletter-faq-footer-title, .smp_footer_front #main .slider-component .smp-newsletter-footer .smp-newsletter-faq-footer-title, .smp_footer_front .container .smp-newsletter-footer .smp-newsletter-faq-footer-title, .smp_footer_front .faq-page .smp-newsletter-footer .smp-newsletter-faq-footer-title, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .smp-newsletter-footer .smp-newsletter-faq-footer-title, .smp_footer_front .smp-numbers-bloc .smp-newsletter-footer .smp-newsletter-faq-footer-title, .smp_footer_front .widget-text .smp-newsletter-footer .smp-newsletter-faq-footer-title {
    color: #fff;
    text-align: left
}

#main .smp_footer_front .slider-component .smp-newsletter-footer .btn-newsletter, .smp_footer_front #main .slider-component .smp-newsletter-footer .btn-newsletter, .smp_footer_front .container .smp-newsletter-footer .btn-newsletter, .smp_footer_front .faq-page .smp-newsletter-footer .btn-newsletter, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .smp-newsletter-footer .btn-newsletter, .smp_footer_front .smp-numbers-bloc .smp-newsletter-footer .btn-newsletter, .smp_footer_front .widget-text .smp-newsletter-footer .btn-newsletter {
    color: #ce0033;
    background: #fff;
    font-weight: 900;
    padding: 13px;
    min-height: 47px;
    left: 0;
    top: -2px;
    border: none;
    border-top: 1px solid #fff;
    text-transform: uppercase
}

@media (max-width:991.98px) {
    #main .smp_footer_front .slider-component .smp-newsletter-footer .btn-newsletter, .smp_footer_front #main .slider-component .smp-newsletter-footer .btn-newsletter, .smp_footer_front .container .smp-newsletter-footer .btn-newsletter, .smp_footer_front .faq-page .smp-newsletter-footer .btn-newsletter, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards) .smp-newsletter-footer .btn-newsletter, .smp_footer_front .smp-numbers-bloc .smp-newsletter-footer .btn-newsletter, .smp_footer_front .widget-text .smp-newsletter-footer .btn-newsletter {
        top: 0
    }
}

@media (max-width:991.98px) {
    #main .smp_footer_front .slider-component, .smp_footer_front, .smp_footer_front #main .slider-component, .smp_footer_front .container, .smp_footer_front .faq-page, .smp_footer_front .smp-box.smp-box-text-image:not(.bloc-cards), .smp_footer_front .smp-numbers-bloc, .smp_footer_front .widget-text {
        background: #fff;
        font-size: 22px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15px
    }
}

@media (max-width:767.98px) {
    .smp_footer_front {
        padding: 0
    }
}

@media (max-width:991.98px) {
    .smp_footer_front .smp-newsletter-footer {
        padding: 38px 23px 63px;
        background-color: #f1f5f8;
        color: #000;
        width: 100%
    }
}

.smp_footer_front .smp-newsletter-faq-footer-title {
    font-size: 42px;
    font-weight: 900;
    padding: 0 0 20px;
    color: #000
}

@media (max-width:991.98px) {
    .smp_footer_front .smp-newsletter-faq-footer-title {
        font-size: 24px
    }
}

.smp_footer_front .btn-faq {
    min-width: 240px;
    font-size: 16px;
    font-weight: 700
}

.smp_footer_front .btn-newsletter {
    padding: 8px;
    line-height: 0
}

.smp_footer_front .btn-newsletter:before {
    display: none
}

body .btn {
    padding: 10px 20px;
    min-width: 135px;
    border-radius: 2px
}

body .btn {
    color: #212529;
    background-color: #fff;
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    background-color: #ce0033;
    border-color: #ce0033
}

body .btn:hover {
    background-color: #a4082f;
    border-color: #a4082f
}

body .btn.focus, body .btn:focus {
    color: #fff;
    background-color: #a4082f;
    border-color: #a4082f;
    box-shadow: 0 0 0 .2rem rgba(180, 6, 50, .5)
}

body .btn:disabled {
    color: #212529;
    background-color: #fff;
    border-color: #ce0033
}

body .btn:not(:disabled):not(.disabled).active, body .btn:not(:disabled):not(.disabled):active {
    border-color: #ce0033
}

body .btn:not(:disabled):not(.disabled).active:focus, body .btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(180, 6, 50, .5)
}

body .btn:hover {
    color: #ce0033;
    background-color: #ce0033;
    border-color: #fff
}

body .btn.focus, body .btn:focus {
    box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5)
}

body .btn:disabled {
    color: #fff;
    background-color: transparent
}

body .btn:not(:disabled):not(.disabled).active, body .btn:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #ce0033;
    border-color: #fff
}

body .btn:not(:disabled):not(.disabled).active:focus, body .btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem hsla(0, 0%, 100%, .5)
}

body .btn:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a4082f;
    opacity: 0
}

body .btn:hover {
    cursor: pointer;
    color: #fff
}

body .btn:hover:before {
    opacity: 1;
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

body .btn:active, body .btn:active:focus, body .btn:focus {
    border-color: #ce0033;
    box-shadow: none
}

body .btn:active:before, body .btn:active:focus:before, body .btn:focus:before {
    background-color: #a4082f;
    color: #fff
}

body .btn p, body .btn span {
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-align: center
}

.smp-title, .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 34px 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 45px;
    color: #000;
    clear: both
}

@media (max-width:991.98px) {
    .smp-title, .title {
        font-size: 22px;
        margin: 0 15px
    }
}

@media (max-width:767.98px) {
    .smp-title, .title {
        font-size: 22px;
        margin: 48px 0 15px
    }
}

.smp-title h2, .title h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 900
}

@media (max-width:767.98px) {
    .smp-title h2, .title h2 {
        font-size: 22px
    }
}

.smp-title-color-1 {
    font-size: 42px;
    font-weight: 900;
    color: #000;
    font-family: Nunito Sans, sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 0
}

@media (max-width:767.98px) {
    .smp-title-color-1 {
        font-size: 24px
    }
}

.smp-title-color-2 {
    font-size: 42px;
    font-weight: 900;
    color: #000;
    font-family: Nunito Sans, sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 0
}

@media (max-width:767.98px) {
    .smp-title-color-2 {
        font-size: 24px
    }
}

.dots {
    display: none
}

.card-text a, .contact div[class^=c] a, .smp-box:not(.bloc-cards).smp-box-icon .card-text a, .smp-box:not(.bloc-cards).smp-box-text-image .card-text a, .smp-box:not(.bloc-cards).two-column .card-text a, .widget-text a {
    color: #ce0033;
    text-decoration: underline;
    font-weight: 700;
    font-weight: "Nunito Sans", sans-serif
}

.card-text .btn, .contact div[class^=c] .btn, .smp-box:not(.bloc-cards).smp-box-icon .card-text .btn, .smp-box:not(.bloc-cards).smp-box-text-image .card-text .btn, .smp-box:not(.bloc-cards).two-column .card-text .btn, .widget-text .btn {
    color: #fff
}

.card-text .btn, .card-text .btn a, .contact div[class^=c] .btn, .contact div[class^=c] .btn a, .smp-box:not(.bloc-cards).smp-box-icon .card-text .btn, .smp-box:not(.bloc-cards).smp-box-icon .card-text .btn a, .smp-box:not(.bloc-cards).smp-box-text-image .card-text .btn, .smp-box:not(.bloc-cards).smp-box-text-image .card-text .btn a, .smp-box:not(.bloc-cards).two-column .card-text .btn, .smp-box:not(.bloc-cards).two-column .card-text .btn a, .widget-text .btn, .widget-text .btn a {
    text-decoration: none
}

.card-text .btn:focus, .card-text .btn:hover, .contact div[class^=c] .btn:focus, .contact div[class^=c] .btn:hover, .smp-box:not(.bloc-cards).smp-box-icon .card-text .btn:focus, .smp-box:not(.bloc-cards).smp-box-icon .card-text .btn:hover, .smp-box:not(.bloc-cards).smp-box-text-image .card-text .btn:focus, .smp-box:not(.bloc-cards).smp-box-text-image .card-text .btn:hover, .smp-box:not(.bloc-cards).two-column .card-text .btn:focus, .smp-box:not(.bloc-cards).two-column .card-text .btn:hover, .widget-text .btn:focus, .widget-text .btn:hover {
    color: #fff
}

.card-text img, .contact div[class^=c] img, .smp-box:not(.bloc-cards).smp-box-icon .card-text img, .smp-box:not(.bloc-cards).smp-box-text-image .card-text img, .smp-box:not(.bloc-cards).two-column .card-text img, .widget-text img {
    width: 100%;
    max-width: 100%;
    height: auto !important
}

.card-text h4, .card-text h5, .contact div[class^=c] h4, .contact div[class^=c] h5, .smp-box:not(.bloc-cards).smp-box-icon .card-text h4, .smp-box:not(.bloc-cards).smp-box-icon .card-text h5, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h4, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h5, .smp-box:not(.bloc-cards).two-column .card-text h4, .smp-box:not(.bloc-cards).two-column .card-text h5, .widget-text h4, .widget-text h5 {
    font-family: Nunito Sans, sans-serif;
    font-size: 20px;
    font-weight: 700
}

.card-text h6, .contact div[class^=c] h6, .smp-box:not(.bloc-cards).smp-box-icon .card-text h6, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h6, .smp-box:not(.bloc-cards).two-column .card-text h6, .widget-text h6 {
    font-family: Nunito Sans, sans-serif;
    font-size: 20px;
    font-weight: 600
}

.card-text h2, .card-text h3, .card-text h4, .card-text h5, .card-text h6, .contact div[class^=c] h2, .contact div[class^=c] h3, .contact div[class^=c] h4, .contact div[class^=c] h5, .contact div[class^=c] h6, .smp-box:not(.bloc-cards).smp-box-icon .card-text h2, .smp-box:not(.bloc-cards).smp-box-icon .card-text h3, .smp-box:not(.bloc-cards).smp-box-icon .card-text h4, .smp-box:not(.bloc-cards).smp-box-icon .card-text h5, .smp-box:not(.bloc-cards).smp-box-icon .card-text h6, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h2, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h3, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h4, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h5, .smp-box:not(.bloc-cards).smp-box-text-image .card-text h6, .smp-box:not(.bloc-cards).two-column .card-text h2, .smp-box:not(.bloc-cards).two-column .card-text h3, .smp-box:not(.bloc-cards).two-column .card-text h4, .smp-box:not(.bloc-cards).two-column .card-text h5, .smp-box:not(.bloc-cards).two-column .card-text h6, .widget-text h2, .widget-text h3, .widget-text h4, .widget-text h5, .widget-text h6 {
    margin: 0 0 1rem
}

.card-text p:not(:first-child):not(:last-child), .contact div[class^=c] p:not(:first-child):not(:last-child), .smp-box:not(.bloc-cards).smp-box-icon .card-text p:not(:first-child):not(:last-child), .smp-box:not(.bloc-cards).smp-box-text-image .card-text p:not(:first-child):not(:last-child), .smp-box:not(.bloc-cards).two-column .card-text p:not(:first-child):not(:last-child), .widget-text p:not(:first-child):not(:last-child) {
    margin: 0 0 23px
}

.card-text p:last-child, .contact div[class^=c] p:last-child, .smp-box:not(.bloc-cards).smp-box-icon .card-text p:last-child, .smp-box:not(.bloc-cards).smp-box-text-image .card-text p:last-child, .smp-box:not(.bloc-cards).two-column .card-text p:last-child, .widget-text p:last-child {
    margin: 0
}

.card-text ul:not(:first-child):not(:last-child), .contact div[class^=c] ul:not(:first-child):not(:last-child), .smp-box:not(.bloc-cards).smp-box-icon .card-text ul:not(:first-child):not(:last-child), .smp-box:not(.bloc-cards).smp-box-text-image .card-text ul:not(:first-child):not(:last-child), .smp-box:not(.bloc-cards).two-column .card-text ul:not(:first-child):not(:last-child), .widget-text ul:not(:first-child):not(:last-child) {
    margin: 0 0 23px
}

.card-text ul li, .contact div[class^=c] ul li, .smp-box:not(.bloc-cards).smp-box-icon .card-text ul li, .smp-box:not(.bloc-cards).smp-box-text-image .card-text ul li, .smp-box:not(.bloc-cards).two-column .card-text ul li, .widget-text ul li {
    font-weight: 400;
    list-style: none;
    margin: 0 0 3px
}

.card-text ul li:last-child, .contact div[class^=c] ul li:last-child, .smp-box:not(.bloc-cards).smp-box-icon .card-text ul li:last-child, .smp-box:not(.bloc-cards).smp-box-text-image .card-text ul li:last-child, .smp-box:not(.bloc-cards).two-column .card-text ul li:last-child, .widget-text ul li:last-child {
    margin: 0
}

.card-text ul li:before, .contact div[class^=c] ul li:before, .smp-box:not(.bloc-cards).smp-box-icon .card-text ul li:before, .smp-box:not(.bloc-cards).smp-box-text-image .card-text ul li:before, .smp-box:not(.bloc-cards).two-column .card-text ul li:before, .widget-text ul li:before {
    content: "\F111";
    display: inline-block;
    font-family: Font Awesome\ 5 Free;
    color: #ce0033;
    font-size: .6em;
    margin-top: .6em;
    float: left;
    margin-right: 1em;
    font-weight: 700
}

@-webkit-keyframes lds-dual-ring {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

/*! orejime v1.2.3 - BSD-3-Clause license, original work Copyright (c) 2018 DPKit, modified work Copyright (c) 2019 Empreinte Digitale, all rights reserved. */
body {
    font-family: Nunito Sans, sans-serif
}

body p {
    margin: 0
}

body a {
    color: #000;
    transition: color .5s ease
}

body a:hover {
    color: #ce0033
}

body a:active, body a:focus {
    color: #a4082f
}

body ul {
    padding: 0;
    margin: 0
}

body .img-fluid-container {
    display: flex;
    justify-content: center
}

body a:focus:not(.focus-visible), body button:focus:not(.focus-visible), body title:focus:not(.focus-visible) {
    outline: 0 !important
}

body .focus-visible {
    outline: 1px solid #000 !important
}

body img:not([src]):not([srcset]) {
    visibility: hidden
}

@-moz-document url-prefix() {
    body img:-moz-loading {
        visibility: hidden
    }
}

body .h2, body h2 {
    font-weight: 900;
    font-size: 42px
}

@media (max-width:991.98px) {
    body .h2, body h2 {
        font-size: 24px
    }
}

.component-card {
    clear: both !important
}

.component-card .shortcode+.smp-card .card-body {
    display: block !important;
    text-align: left
}

.component-card .shortcode+.smp-card .card-body .card-title {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start
}

.component-card .card-text ul li:before {
    content: none;
    display: none
}

.smp-card {
    font-family: Nunito Sans, sans-serif;
    border: none;
    border-top: 5px solid #ce0033;
    border-radius: 0;
    background-color: transparent
}

.smp-card .img-fluid, .smp-card .smp_footer_front .footer-logo, .smp_footer_front .smp-card .footer-logo {
    height: 284px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.smp-card .card-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center !important
}

.smp-card .card-img-top {
    border-radius: 0
}

.smp-card .card-title {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    flex-wrap: wrap;
    margin: 0 0 20px;
    align-items: flex-start !important
}

@media (max-width:991.98px) {
    .smp-card .card-title {
        font-size: 24px;
        margin: 0
    }
}

.smp-card .card-text {
    margin: 0 0 2rem
}

@media (max-width:767.98px) {
    .smp-card .card-text {
        font-size: 14px
    }
}

.smp-numbers-bloc {
    text-align: center;
    padding: 40px
}

@media (max-width:991.98px) {
    .smp-numbers-bloc {
        margin-right: 0;
        flex-direction: column
    }
}

@media (min-width:992px) {
    .smp-numbers-bloc {
        padding-left: 42px;
        padding-right: 42px;
        margin: 0 auto 30px
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .smp-numbers-bloc {
        margin-left: 0;
        margin-right: 0
    }
}

@media (max-width:767.98px) {
    .smp-numbers-bloc {
        margin: auto
    }
}

.smp-numbers-bloc .number-bloc {
    float: left
}

@media (max-width:767.98px) {
    .smp-numbers-bloc .number-bloc {
        margin: auto
    }
}

.smp-numbers-bloc .number-bloc p {
    margin: 0 !important
}

.smp-numbers-bloc .number-bloc:last-child {
    padding-right: 0
}

@media (max-width:767.98px) {
    .smp-numbers-bloc .number-bloc:last-child {
        padding-right: 15px
    }
}

.smp-numbers-bloc.white, .smp-numbers-bloc.white>.smp-box:not(.bloc-cards), .smp-numbers-bloc.white>.smp-numbers-bloc {
    background-color: #fff
}

.header {
    position: relative
}

@media (max-width:991.98px) {
    .header {
        margin: 0 0 30px
    }
}

.header .smp-numbers-bloc {
    padding: 0;
    margin: 33px auto 0;
    justify-content: center
}

@media (max-width:767.98px) {
    .header .smp-numbers-bloc {
        margin: 0
    }
}

.header .smp-numbers-bloc>.smp-box:not(.bloc-cards), .header .smp-numbers-bloc>.smp-numbers-bloc {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
    width: 100%
}

.header .smp-numbers-bloc .number-bloc {
    margin-left: 0 !important
}

@media (min-width:768px) and (max-width:991.98px) {
    .header .smp-numbers-bloc .number-bloc {
        margin-bottom: 10px
    }
}

.header .smp-numbers-bloc .number-text p {
    font-size: 20px;
    padding: 0 !important
}

.header .smp-numbers-bloc .number {
    flex: 0 auto;
    max-width: none !important;
    margin: 0 3px 0 0 !important
}

@media (max-width:767.98px) {
    .header .smp-numbers-bloc .number {
        margin-bottom: 0 !important;
        align-items: center
    }
}

.header .smp-numbers-bloc .number p {
    font-size: 56px;
    padding: 0 !important;
    line-height: 1;
    color: #fff
}

.header .smp-numbers-bloc .number-bloc {
    max-width: none;
    flex-basis: 299px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0
}

@media (max-width:767.98px) {
    .header .smp-numbers-bloc .number-bloc {
        margin: auto;
        flex-basis: auto
    }
}

.header .smp-numbers-bloc .number-bloc .number-text {
    flex: 1 1 auto;
    width: auto
}

.header .shortcode {
    width: 100%;
    background: url(/images/ajax-loader.gif) 50% no-repeat
}

.header .img-fluid, .header .smp_footer_front .footer-logo, .smp_footer_front .header .footer-logo {
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 550px;
    background-image: url(/images/forme-titre-page.png), radial-gradient(circle 920px at 49.32% 69.24%, #05002e 0, #f0f1ff 100%);
    background-repeat: no-repeat;
    background-size: cover
}

@media (max-width:767.98px) {
    .header .img-fluid, .header .smp_footer_front .footer-logo, .smp_footer_front .header .footer-logo {
        height: 281px;
        position: relative;
        margin: 0
    }
}

.header h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 65px
}

@media (max-width:767.98px) {
    .header h1 {
        display: inline-block;
        font-size: 32px;
        line-height: 1;
        padding: 10px
    }
}

.header .header-home {
    position: relative;
    width: 100%
}

@media (min-width:992px) {
    .header .header-home {
        height: 550px
    }
}

.header .header-home-bg {
    height: 100%;
    float: right
}

@media (max-width:767.98px) {
    .header .header-home-bg {
        display: none
    }
}

.header .header-home-titles {
    color: #fff
}

@media (max-width:991.98px) {
    .header .header-home-titles {
        padding-left: 0;
        max-width: calc(100vw - 80px)
    }
}

@media (max-width:767.98px) {
    .header .header-home-titles {
        top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
}

.header .header-home-titles h1 {
    padding: 0 30px 0 20px
}

.header .header-home-btn {
    color: #ce0033;
    background-color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 40px;
    min-height: 47px;
    line-height: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3)
}

.header .header-home-btn span {
    font-weight: 900
}

.header .header-home-subtitle {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    top: 0;
    left: 0;
    height: 100%;
    padding: 62px 117px 46px;
    background: #ce0033;
    width: 71%
}

@media (max-width:767.98px) {
    .header .header-home-subtitle {
        position: relative
    }
}

@media (min-width:1200px) {
    .header .header-home-subtitle {
        padding-left: 7%
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .header .header-home-subtitle {
        padding: 7% 35px 46px
    }
}

@media (max-width:991.98px) {
    .header .header-home-subtitle {
        transform: none;
        font-size: 12px;
        padding: 10px;
        width: 100%;
        height: auto
    }
}

@media (min-width:1600px) and (max-width:1699px) {
    .header .header-home-subtitle {
        padding-left: 16%
    }
}

@media (min-width:1700px) and (max-width:1799px) {
    .header .header-home-subtitle {
        padding-left: 18%
    }
}

@media (min-width:1800px) and (max-width:1899px) {
    .header .header-home-subtitle {
        padding-left: 20%
    }
}

@media (min-width:1900px) and (max-width:1999px) {
    .header .header-home-subtitle {
        padding-left: 20.5%
    }
}

@media (min-width:2000px) {
    #main .header .header-home-subtitle .slider-component, .header .header-home-subtitle #main .slider-component, .header .header-home-subtitle .container, .header .header-home-subtitle .faq-page, .header .header-home-subtitle .smp-box.smp-box-text-image:not(.bloc-cards), .header .header-home-subtitle .smp-numbers-bloc, .header .header-home-subtitle .widget-text {
        width: 60%;
        float: right
    }
}

.header .header-home-subtitle.btn {
    display: flex;
    font-weight: 900;
    line-height: .5;
    padding: 13px 20px;
    border: none
}

@media (max-width:991.98px) {
    .header .header-home-subtitle.btn {
        display: inline-flex;
        font-size: 14px
    }
}

.header .header-home-subtitle.btn:after {
    font-family: Material Icons;
    display: inline-flex;
    align-items: center;
    content: "keyboard_arrow_right";
    font-size: 1.5em;
    color: #ce0033;
    transition: color .5s ease, transform .5s ease;
    vertical-align: text-top
}

.header .header-home-subtitle.btn:focus:after, .header .header-home-subtitle.btn:hover:after {
    color: #fff
}

.header .header-home-subtitle.btn span {
    line-height: .6
}

.header .header-home-subtitle.btn span:before {
    content: " -> "
}

.header.header-grey {
    position: relative;
    background-image: linear-gradient(180deg, #c9d8e4, #f4f9fc);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000
}

.header.header-grey p {
    color: #57575c
}

@media (max-width:991.98px) {
    .header.header-grey:before {
        background-image: none
    }
}

@media (max-width:767.98px) {
    .header.header-grey {
        background-image: none
    }

    .header.header-grey h1 {
        background-image: linear-gradient(180deg, #c9d8e4, #f4f9fc)
    }

    .header.header-grey p {
        color: #000
    }
}

.header.header-grey, .header.header-white {
    min-height: 240px;
    padding-top: 55px;
    padding-bottom: 55px;
    overflow: hidden
}

@media (max-width:767.98px) {
    .header.header-grey, .header.header-white {
        min-height: auto;
        padding: 15px;
        margin: 0 0 23px
    }

    .header.header-grey:after, .header.header-white:after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: -15px;
        height: 1px;
        width: 70px
    }
}

.header.header-grey h1, .header.header-white h1 {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 10px
}

@media (max-width:767.98px) {
    .header.header-grey h1, .header.header-white h1 {
        display: block;
        padding: 60px 0 15px;
        margin: 0;
        font-size: 32px
    }
}

.header.header-grey p, .header.header-white p {
    font-size: 18px;
    margin: 0 0 28px;
    font-weight: 500;
    font-family: Nunito Sans, sans-serif
}

@media (max-width:767.98px) {
    .header.header-grey p, .header.header-white p {
        font-size: 18px;
        line-height: 24px;
        padding: 21px 0;
        font-weight: 400;
        margin: 0
    }
}

.header.header-grey {
    position: relative
}

@media (max-width:767.98px) {
    .header.header-grey h1 {
        font-size: 32px;
        margin: 0 -15px;
        padding-left: 15px;
        padding-right: 15px
    }
}

.header.header-white {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px
}

.header.header-white p {
    color: #000
}

.header.header-white h1 {
    color: #ce0033;
    position: relative;
    z-index: 99
}

.header.header-white.no-background {
    min-height: auto;
    background-image: none;
    padding: 70px 0 23px;
    margin-bottom: 0
}

.header.header-white.no-background h1 {
    margin: 0 0 20px
}

.header.header-white.no-background:after {
    display: none
}

.partener-slide .partener {
    height: 150px
}

.partener-slide .partener-image {
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    max-height: 100%
}

.partener-slide .partener-image .img-fluid, .partener-slide .partener-image .smp_footer_front .footer-logo, .smp_footer_front .partener-slide .partener-image .footer-logo {
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 121px;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

@media (max-width:767.98px) {
    .partener-slide .partener-image .img-fluid, .partener-slide .partener-image .smp_footer_front .footer-logo, .smp_footer_front .partener-slide .partener-image .footer-logo {
        max-width: 100%;
        max-height: 100%;
        margin-left: 15vw
    }
}

.component-actualites {
    padding: 1px 42px 46px
}

.component-actualites .title {
    font-size: 34px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0
}

@media (max-width:767.98px) {
    .component-actualites .title {
        font-size: 22px
    }
}

.component-actualites .title h2 {
    margin: 0
}

.component-actualites .actualites>.smp-box:not(.bloc-cards), .component-actualites .actualites>.smp-numbers-bloc {
    margin: 0
}

@media (max-width:991.98px) {
    .component-actualites {
        padding: 0 15px 46px;
        margin-left: 15px
    }
}

@media (max-width:767.98px) {
    .component-actualites {
        padding: 0 15px 46px;
        margin-left: 0
    }
}

@media (max-width:767.98px) {
    .component-actualites .shortcode {
        height: 220px;
        min-height: 220px;
        flex-basis: 100%;
        max-width: 100%;
        width: 100%
    }
}

.component-actualites .smp-numbers-bloc {
    display: flex;
    padding: 0;
    margin-right: 0;
    max-width: 100%
}

@media (min-width:768px) {
    .component-actualites .smp-numbers-bloc {
        grid-column: 2/3;
        grid-row: 1 span;
        margin-left: 0
    }
}

@media (max-width:767.98px) {
    .component-actualites .smp-numbers-bloc {
        margin: 0 0 0 15px
    }
}

.component-actualites .smp-numbers-bloc .number-bloc {
    padding: 0 0 18px;
    flex-basis: 100%;
    max-width: 100% !important
}

@media (max-width:991.98px) {
    .component-actualites .smp-numbers-bloc .number-bloc {
        margin: 0 0 18px 15px
    }

    .component-actualites .smp-numbers-bloc .number-bloc:first-child {
        margin-top: 15px
    }
}

@media (max-width:767.98px) {
    .component-actualites .smp-numbers-bloc .number-bloc {
        margin: 0
    }

    .component-actualites .smp-numbers-bloc .number-bloc:first-child {
        margin-top: 0
    }
}

.component-actualites .smp-numbers-bloc .number-bloc:last-child {
    padding: 0
}

.component-actualites .smp-numbers-bloc .number-text {
    margin-right: 0;
    max-width: 100% !important;
    width: 100%;
    flex-basis: 100%
}

.component-actualites .actualites-link-card {
    position: relative
}

@media (max-width:767.98px) {
    .component-actualites .actualites-link-card {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 15px
    }
}

.component-actualites .actualites-link-card-img {
    position: relative;
    max-width: 100%;
    max-height: 200px
}

.component-actualites .actualites-link-card-text, .component-actualites .actualites-link-card-text2 {
    font-family: Nunito Sans, sans-serif !important;
    background-color: #ce0033;
    font-size: 14px;
    padding: 0 8px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    bottom: 9px;
    left: 35px;
    right: 35px
}

.component-actualites .actualites-link-card-text2 {
    background-color: #fff;
    color: #000
}

.component-actualites .actualites-card {
    display: flex;
    flex-direction: column;
    width: 300px
}

.component-actualites .actualites-card .shortcode {
    position: relative;
    min-height: 182px;
    max-height: 100%;
    margin: 0 0 18px
}

.component-actualites .actualites-card .shortcode .img-fluid, .component-actualites .actualites-card .shortcode .smp_footer_front .footer-logo, .smp_footer_front .component-actualites .actualites-card .shortcode .footer-logo {
    position: static;
    max-height: 100%
}

.component-actualites .actualites-card-body {
    border-top: 5px solid #ce0033;
    padding: 18px 10px 24px
}

.component-actualites .actualites-card-title {
    color: #000;
    font-family: Nunito Sans, sans-serif;
    font-size: 20px;
    font-weight: 700
}

.component-actualites .actualites-card-text {
    margin-top: 30px;
    color: #000;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px
}

.component-contact {
    min-height: 296px;
    position: relative;
    overflow: hidden
}

@media (max-width:991.98px) {
    .component-contact {
        padding: 15px;
        min-height: 225px
    }

    #main .component-contact .slider-component, .component-contact #main .slider-component, .component-contact .container, .component-contact .faq-page, .component-contact .smp-box.smp-box-text-image:not(.bloc-cards), .component-contact .smp-numbers-bloc, .component-contact .widget-text {
        margin-top: 0
    }
}

@media (max-width:767.98px) {
    .component-contact .smp-box {
        margin: auto !important;
        padding: 0 !important
    }
}

#main .component-contact .smp-box .slider-component, .component-contact .smp-box #main .slider-component, .component-contact .smp-box .container, .component-contact .smp-box .faq-page, .component-contact .smp-box .smp-box.smp-box-text-image:not(.bloc-cards), .component-contact .smp-box .smp-numbers-bloc, .component-contact .smp-box .widget-text {
    margin-top: 20px;
    flex-direction: column
}

@media (max-width:767.98px) {
    #main .component-contact .smp-box .slider-component, .component-contact .smp-box #main .slider-component, .component-contact .smp-box .container, .component-contact .smp-box .faq-page, .component-contact .smp-box .smp-box.smp-box-text-image:not(.bloc-cards), .component-contact .smp-box .smp-numbers-bloc, .component-contact .smp-box .widget-text {
        margin: auto !important
    }
}

.component-contact .container-background {
    position: absolute;
    left: 7%;
    content: url(/images/simplon-pictogramme-isotype-blanc-rvb-1.svg);
    transform: translateY(-50px);
    opacity: .2
}

@media (max-width:767.98px) {
    .component-contact .container-background {
        left: 0;
        top: 0;
        max-width: 100%
    }
}

.component-contact .smp-title.blue span {
    background-color: transparent;
    color: #fff;
    font-size: 42px;
    font-weight: 900
}

@media (max-width:991.98px) {
    .component-contact .smp-title.blue span {
        font-size: 22px;
        text-align: center
    }
}

.component-contact .smp-box {
    margin-bottom: 0
}

.slider {
    position: relative
}

.slider-blue .slide, .slider-blue .slide-subtitle {
    background: var(--blue)
}

.slider ul {
    list-style: none
}

.slider ul, .slider ul li {
    position: relative;
    margin: 0;
    padding: 0
}

.slider ul li {
    display: none;
    float: left;
    width: 100%;
    height: auto;
    background: #ccc
}

.slider .slide {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    overflow: hidden
}

@media (min-width:992px) {
    .slider .slide {
        height: 550px
    }
}

.slider .slide-bg {
    height: 100%;
    float: right
}

@media (max-width:767.98px) {
    .slider .slide-bg {
        display: none
    }
}

.slider .slide-titles {
    color: #fff
}

@media (max-width:991.98px) {
    .slider .slide-titles {
        padding-left: 0;
        max-width: calc(100vw - 80px)
    }
}

@media (max-width:767.98px) {
    .slider .slide-titles {
        top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
}

.slider .slide-titles h1 {
    padding: 0 30px 0 20px
}

.slider .slide-btn {
    color: #ce0033;
    background-color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 40px;
    min-height: 47px;
    line-height: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3)
}

.slider .slide-btn span {
    font-weight: 900
}

.slider .slide-subtitle {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    top: 0;
    left: 0;
    height: 100%;
    padding: 62px 117px 46px;
    width: 71%
}

@media (max-width:767.98px) {
    .slider .slide-subtitle {
        position: relative
    }
}

@media (min-width:1200px) {
    .slider .slide-subtitle {
        padding-left: 7%
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .slider .slide-subtitle {
        padding: 7% 35px 46px
    }
}

@media (max-width:991.98px) {
    .slider .slide-subtitle {
        transform: none;
        font-size: 12px;
        padding: 10px;
        width: 100%;
        height: auto
    }
}

@media (min-width:1600px) and (max-width:1699px) {
    .slider .slide-subtitle {
        padding-left: 16%
    }
}

@media (min-width:1700px) and (max-width:1799px) {
    .slider .slide-subtitle {
        padding-left: 18%
    }
}

@media (min-width:1800px) and (max-width:1899px) {
    .slider .slide-subtitle {
        padding-left: 20%
    }
}

@media (min-width:1900px) and (max-width:1999px) {
    .slider .slide-subtitle {
        padding-left: 20.5%
    }
}

@media (min-width:2000px) {
    #main .slider .slide-subtitle .slider-component, .slider .slide-subtitle #main .slider-component, .slider .slide-subtitle .container, .slider .slide-subtitle .faq-page, .slider .slide-subtitle .smp-box.smp-box-text-image:not(.bloc-cards), .slider .slide-subtitle .smp-numbers-bloc, .slider .slide-subtitle .widget-text {
        width: 60%;
        float: right
    }
}

.slider .slide-subtitle.btn {
    display: flex;
    font-weight: 900;
    line-height: .5;
    padding: 13px 20px;
    border: none
}

@media (max-width:991.98px) {
    .slider .slide-subtitle.btn {
        display: inline-flex;
        font-size: 14px
    }
}

.slider .slide-subtitle.btn:after {
    font-family: Material Icons;
    display: inline-flex;
    align-items: center;
    content: "keyboard_arrow_right";
    font-size: 1.5em;
    color: #ce0033;
    transition: color .5s ease, transform .5s ease;
    vertical-align: text-top
}

.slider .slide-subtitle.btn:focus:after, .slider .slide-subtitle.btn:hover:after {
    color: #fff
}

.slider .slide-subtitle.btn span {
    line-height: .6
}

.slider .slide-subtitle.btn span:before {
    content: " -> "
}

.spm-colored-background-blue-grey {
    background-color: #f1f5f8;
    position: relative
}

.spm-colored-background-blue-grey:before {
    content: "";
    width: 1000vh;
    position: absolute;
    left: 0;
    height: 100%;
    background: #f1f5f8;
    transform: translateX(-32vw);
    z-index: -1
}

.spm-colored-background-white {
    background-color: #fff
}

.smp-box:not(.bloc-cards) {
    margin-left: 0;
    margin-right: 0
}

.smp-box:not(.bloc-cards) .card-body {
    padding: 0 0 50px;
    width: 100%
}

.smp-box:not(.bloc-cards) .card-body .btn:nth-of-type(2) {
    margin-top: 10px
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards) .card-body {
        padding: 0 0 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
}

.smp-box:not(.bloc-cards) .card-title {
    display: flex;
    align-items: center;
    font-size: 42px;
    line-height: 45px;
    font-weight: 900;
    justify-content: center;
    padding: 10px 0 0;
    font-family: Nunito Sans, sans-serif
}

@media (max-width:991.98px) {
    .smp-box:not(.bloc-cards) .card-title {
        display: inline-block;
        line-height: 1.5rem;
        font-size: 24px;
        padding: 15px;
        margin: 15px 0
    }
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards) .btn {
        margin: 15px
    }
}

@media (max-width:991.98px) {
    .smp-box:not(.bloc-cards) .card-text {
        margin: 0 15px 20px
    }
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards) .card-text {
        margin: 0 0 33px;
        padding: 0 15px
    }
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards) .card-text p {
        font-size: 14px
    }
}

.smp-box:not(.bloc-cards) .card-text p:last-child {
    margin: 0
}

.smp-box:not(.bloc-cards) .smp-card {
    border: none
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards) {
        padding: 0 15px
    }
}

.smp-box:not(.bloc-cards).spm-colored-background-white-square-line {
    display: block
}

.smp-box:not(.bloc-cards).spm-colored-background-white-square-line:before {
    margin: 0 0 -74px
}

.smp-box:not(.bloc-cards).smp-card {
    border: none
}

.smp-box:not(.bloc-cards).smp-box-text-image {
    padding: 0 42px;
    margin: 3rem auto 0
}

@media (max-width:991.98px) {
    .smp-box:not(.bloc-cards).smp-box-text-image {
        padding: 0 15px
    }
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).smp-box-text-image {
        padding: 0
    }
}

@media (min-width:768px) {
    .smp-box:not(.bloc-cards).smp-box-text-image .card-body, .smp-box:not(.bloc-cards).smp-box-text-image .card-title {
        padding-top: 0
    }
}

.smp-box:not(.bloc-cards).smp-box-text-image img {
    -o-object-fit: contain;
    object-fit: contain;
    align-self: baseline
}

.smp-box:not(.bloc-cards).smp-box-text-image .shortcode {
    padding: 0
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).smp-box-text-image .shortcode {
        margin: 0
    }
}

.smp-box:not(.bloc-cards).smp-box-text-image .shortcode .img-fluid, .smp-box:not(.bloc-cards).smp-box-text-image .shortcode .smp_footer_front .footer-logo, .smp_footer_front .smp-box:not(.bloc-cards).smp-box-text-image .shortcode .footer-logo {
    max-height: 100%;
    width: 100%;
    max-width: 50%
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).smp-box-text-image .shortcode .img-fluid, .smp-box:not(.bloc-cards).smp-box-text-image .shortcode .smp_footer_front .footer-logo, .smp_footer_front .smp-box:not(.bloc-cards).smp-box-text-image .shortcode .footer-logo {
        padding: 0
    }
}

.smp-box:not(.bloc-cards).smp-box-text-image .smp-card {
    margin: 0 !important
}

.smp-box:not(.bloc-cards).smp-box-text-image .card-body {
    display: block;
    text-align: left
}

.smp-box:not(.bloc-cards).smp-box-text-image .card-title {
    padding: 0;
    margin: 0
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).smp-box-text-image .card-title {
        margin: 15px 0
    }
}

.smp-box:not(.bloc-cards).smp-box-text-image .card-text {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).smp-box-text-image .card-text {
        font-size: 14px;
        margin: 0 0 30px;
        padding: 0
    }
}

.smp-box:not(.bloc-cards).smp-box-text-image .card-text ul li {
    margin-left: 28px
}

.smp-box:not(.bloc-cards).smp-box-text-image .card-text p {
    text-align: left
}

.smp-box:not(.bloc-cards).smp-box-text-image .btn {
    font-family: Nunito Sans, sans-serif;
    margin-left: 0
}

.smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image {
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 25px
}

.smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .shortcode {
    padding-left: 0
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .shortcode {
        padding: 0
    }
}

.smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .card-title {
    margin-bottom: 20px;
    padding-top: 0
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .card-title {
        margin: 15px 0;
        padding-top: 0
    }
}

.smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .img-fluid, .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .smp_footer_front .footer-logo, .smp_footer_front .smp-box:not(.bloc-cards).smp-box-text-image.text-crop-image .footer-logo {
    padding: 0;
    margin: 0;
    max-height: 100%
}

#main .smp-box .slider-component, .smp-box #main .slider-component, .smp-box .container, .smp-box .faq-page, .smp-box .smp-box.smp-box-text-image:not(.bloc-cards), .smp-box .smp-numbers-bloc, .smp-box .widget-text {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (max-width:991.98px) {
    #main .smp-box .slider-component, .smp-box #main .slider-component, .smp-box .container, .smp-box .faq-page, .smp-box .smp-box.smp-box-text-image:not(.bloc-cards), .smp-box .smp-numbers-bloc, .smp-box .widget-text {
        display: block
    }
}

.smp-box:not(.bloc-cards) .card-text h3, .smp-box:not(.bloc-cards).two-column .card-text h3 {
    font-family: Nunito Sans, sans-serif;
    font-weight: 700;
    line-height: 32px;
    color: #ce0033 !important;
    font-style: normal !important;
    margin: 0 0 26px
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards) .card-text h3, .smp-box:not(.bloc-cards).two-column .card-text h3 {
        font-size: 20px
    }
}

@media (min-width:992px) {
    .smp-box:not(.bloc-cards).certification {
        padding-top: 90px
    }
}

@media (min-width:992px) {
    .smp-box:not(.bloc-cards).certification .card-body {
        padding-top: 33px;
        margin-bottom: 55px
    }
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).partener-session .img-fluid, .smp-box:not(.bloc-cards).partener-session .smp_footer_front .footer-logo, .smp_footer_front .smp-box:not(.bloc-cards).partener-session .footer-logo {
        z-index: -10
    }
}

.smp-box:not(.bloc-cards).two-column {
    display: flex;
    justify-content: space-between
}

@media (min-width:992px) {
    .smp-box:not(.bloc-cards).two-column {
        padding: 0 0 50px
    }
}

@media (max-width:767.98px) {
    .smp-box:not(.bloc-cards).two-column {
        margin: 30px auto
    }
}

#main .smp-box:not(.bloc-cards).two-column .slider-component, .smp-box:not(.bloc-cards).two-column #main .slider-component, .smp-box:not(.bloc-cards).two-column .container, .smp-box:not(.bloc-cards).two-column .faq-page, .smp-box:not(.bloc-cards).two-column .smp-box.smp-box-text-image:not(.bloc-cards), .smp-box:not(.bloc-cards).two-column .smp-numbers-bloc, .smp-box:not(.bloc-cards).two-column .widget-text {
    align-items: flex-start
}

@media (min-width:992px) {
    .smp-box:not(.bloc-cards).two-column .card-body {
        max-width: 800px;
        padding: 0
    }
}

.smp-box:not(.bloc-cards).two-column .card-title {
    margin-left: 0;
    justify-content: flex-start
}

.smp-box:not(.bloc-cards).two-column .card-text {
    margin: 0
}

.smp-box:not(.bloc-cards).two-column .smp-numbers-bloc {
    padding: 40px;
    width: 365px
}

.smp-box:not(.bloc-cards).two-column .smp-numbers-bloc.collapse:not(.show) {
    display: none
}

@media (max-width:991.98px) {
    .smp-box:not(.bloc-cards).two-column .smp-numbers-bloc {
        margin-top: 30px;
        width: 100%;
        display: flex;
        padding: 15px;
        flex-direction: column
    }
}

.smp-box:not(.bloc-cards).two-column .number-bloc {
    display: inline-flex;
    flex-basis: auto;
    max-width: none;
    margin: 0 0 27px
}

@media (min-width:768px) {
    .smp-box:not(.bloc-cards).two-column .number-bloc {
        padding: 0
    }
}

.smp-box:not(.bloc-cards).two-column .number-bloc .number {
    flex: 0 0 auto;
    align-self: stretch;
    display: flex;
    align-items: center
}

.smp-box:not(.bloc-cards).two-column .number-bloc .number-text {
    flex: 2 2 auto;
    max-width: none;
    font-size: 16px
}

@media (max-width:991.98px) {
    .smp-box:not(.bloc-cards) .card-body {
        padding: 0
    }
}

.link-formations-page {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 0 20px
}

.link-formations-page-box {
    font-size: 20px;
    color: #ce0033;
    font-weight: 700;
    text-decoration: underline
}

.link-formations-page-text {
    margin: 10px 0 0
}

.link-formations-page:before {
    width: auto
}

.header-home {
    height: 500px;
    overflow: hidden
}

@media (max-width:767.98px) {
    .header-home {
        height: auto
    }
}

.header-home .shortcode {
    height: 100%
}

.header-home .shortcode img {
    height: auto;
    float: right;
    max-width: 30%;
    min-height: 100%
}

@media (max-width:991.98px) {
    .header-home .shortcode img {
        display: none
    }
}

@media (max-width:767.98px) {
    .header-home-btn {
        margin: 0 auto !important;
        padding: 10px;
        width: 100%
    }
}

.header-home-btn:hover {
    background-color: #fff !important
}

@media (max-width:767.98px) {
    .header-home-titles {
        margin-left: 32px;
        text-align: center
    }
}

.header-home-subtitle p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px
}

@media (max-width:767.98px) {
    .header-home-subtitle p {
        text-align: center
    }
}

.contact .header {
    margin: 0 auto 30px;
    padding-left: 7rem;
    padding-right: 7rem
}

@media (max-width:991.98px) {
    .contact .header {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width:991.98px) {
    .contact div[class^=c] {
        padding: 0
    }
}

.contact div[class^=c] h1 {
    color: inherit
}

@media (max-width:991.98px) {
    .contact div[class^=c] h1 {
        font-size: 32px
    }
}

.contact .btn {
    display: flex;
    margin: 0 0 0 auto;
    justify-content: center
}

@media (max-width:767.98px) {
    .contact .btn {
        margin: 20px auto
    }
}

.faq-page {
    margin: 0 auto 73px
}

.faq-page .smp-title-color-1 {
    margin-top: 40px
}

.faq-page .smp-title-color-2 {
    margin-top: 15px
}

.faq-page .smp-title-color-1, .faq-page .smp-title-color-2 {
    margin-bottom: 38px
}

@media (min-width:992px) {
    .faq-page .smp-title-color-1, .faq-page .smp-title-color-2 {
        margin-left: 42px;
        margin-right: 42px
    }
}

.faq-page .faq-box.card {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0 42px;
    padding: 11px 11px 11px 19px
}

.faq-page .faq-box.card:first-child {
    border-bottom: none
}

@media (max-width:991.98px) {
    .faq-page .faq-box.card {
        margin: 0 15px
    }
}

@media (max-width:767.98px) {
    .faq-page .faq-box.card {
        margin: 0
    }
}

.faq-page .faq-box.card .card-header {
    padding: 0;
    border: none;
    border-radius: 0 !important;
    background-color: #fff
}

.faq-page .faq-box.card .card-body {
    padding: 12px 0 4px !important
}

@media (max-width:767.98px) {
    .faq-page .faq-box.card .card-body {
        font-size: 14px
    }
}

.faq-page .faq-box .btn {
    padding: 0;
    font-weight: 600
}

.faq-page .faq-box .btn:focus, .faq-page .faq-box .btn:hover {
    text-decoration: none
}

.content-article {
    max-width: 702px;
    margin-bottom: 3rem
}

@media (max-width:991.98px) {
    .content-article {
        width: 80%
    }
}

.widget-text {
    padding: 25px 55px 20px
}

@media (max-width:991.98px) {
    .widget-text {
        padding: 0 15px 20px !important
    }
}

@media (max-width:767.98px) {
    .widget-text {
        padding: 0 30px 20px !important
    }
}

@media (min-width:992px) {
    .presse .smp-box:not(.bloc-cards).spm-colored-background-white-square-line {
        display: block;
        margin-top: -54px
    }
}

.js li {
    list-style: none
}

.js p {
    font-family: Nunito Sans, sans-serif
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#main .slider-component, .container, .faq-page, .header .smp-numbers-bloc, .smp-box.smp-box-text-image:not(.bloc-cards), .smp-numbers-bloc, .widget-text {
    padding: 0
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%
}

body, body #app, html, html #app {
    height: 100%
}

body #app main, html #app main {
    overflow: hidden
}

@media (max-width:991.98px) {
    body #app main, html #app main {
        margin: 61px auto 0
    }
}

body #scroll_to_top, html #scroll_to_top {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 100
}

@media (max-width:767.98px) {
    body #scroll_to_top, html #scroll_to_top {
        right: 0
    }
}

body #scroll_to_top:active, body #scroll_to_top:focus, body #scroll_to_top:hover, html #scroll_to_top:active, html #scroll_to_top:focus, html #scroll_to_top:hover {
    cursor: pointer
}

@media (max-width:767.98px) {
    .key-figures {
        align-items: center
    }
}

@media (max-width:991.98px) {
    .key-figures {
        display: flex;
        flex-direction: inherit !important
    }
}

.smp-newsletter-faq-footer {
    margin-top: 3rem
}

.carousel-item {
    display: block
}
