.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




#map { height: 180px; }

.leaflet-container {
  height: 50vh;
width: 40vw;}   

#ligne{
  display: flex;
  flex-direction: row;
}

.ligneAround{ 
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

  .paddLR{ 
    padding-left : '10px';
    padding-right : '10px';  }

    h2 h3 {
      font-size: small;
    }